<h1>SIGN UP</h1>

<div id="register">

  <div class="headline">
    <h2> Sign Up </h2>
  </div>

  <form>

    <div class="registerInput">
      <label for="firstname"> Firstname: </label>
      <input type="text" name="firstname" />
    </div>

    <div class="registerInput">
      <label for="lastname"> Lastname: </label>
      <input type="text" name="lastname" />
    </div>

    <div class="registerInput">
      <label for="age"> Age: </label>
      <input type="text" name="age" />
    </div>

    <div class="registerInput">
      <label for="username"> Username: </label>
      <input type="text" name="username" />
    </div>

    <div class="registerInput">
      <label for="password"> Password: </label>
      <input type="password" name="password" />
    </div>

    <button type="submit" name="submit">SIGN UP</button>
    


  </form>

</div>